@model IEnumerable<MvcPersonajesPrueba.Models.Personaje>

@{
    ViewData["Title"] = "GetPersonajes";
}

<h1>GetPersonajes</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.IdPersonaje)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Imagen)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.IdPersonaje)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                <img src="@Html.DisplayFor(modelItem => item.Imagen)" width="150"/>
            </td>
            <td>
                <a asp-controller="Personajes" asp-action="FindPersonaje" asp-route-id="@item.IdPersonaje" class="btn btn-info"> Detalles </a>
                <a asp-controller="Personajes" asp-action="UpdatePersonaje" asp-route-id="@item.IdPersonaje" class="btn btn-success"> Update </a>
                <a asp-controller="Personajes" asp-action="DeletePersonaje" asp-route-id="@item.IdPersonaje" class="btn btn-warning"> Eliminar </a>
            </td>
        </tr>
}
    </tbody>
</table>
